@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-olive: #5d6c5d;
  --raw-umber: #936639;
  --sage: #A4AC86;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}
